.productcontainer {
    width: 95%;
    position: relative;
    margin-right: 0;
    margin-left: 0;
  }
.store {
  background: #FFDDDD;

  padding: 1em 0;
}
h5 {
  margin: 0;
}
.headmenu-image {
  background-image: url("/img/headmenu.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.filter-header {
  
  text-transform: capitalize;
  text-align: left;
  padding: 0.25em;
}
.filter-text {
    margin: 0 auto;
    text-transform: capitalize;
    justify-content: space-between;
    padding: 1em;
    font-weight: bold;
   
    font-size: 1.5rem;
    text-align: left;
   
}
.filter-value {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 1rem;
}


.store-items {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1.5em;
  
}
.store-item {
  background-color: var(--mainGrey);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12) !important;
}
.store-items a {
  color: var(--mainBlack);
}
.sortBtn {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: 100%;
  cursor: pointer;
  border-radius: 0.25rem;
}
.filter-btn {
  margin: 0.5rem;
  background: var(--mainPink);
}
.tabColor {
 background-color: white;
}

.product-text {
  margin-top: 0rem;
  margin-bottom: 0;
  margin-left: 1rem;
  text-transform: capitalize;
  justify-content: space-between;
  display: flex;
  font-weight: bold;
  text-align: center; 
  font-size: 1.5rem;
 
}
.product-desc {
    width: 75%;
    margin: 2rem 0;
    color: #767474;
    font-size: 1.5rem;
  }

.img-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
}
.store-img {
  transition: all 1s ease-in-out;
  width: 100%;
  height: 280px;
  
}


.img-container:hover .store-img {
  transform: scale(1.2);
}
.store-item-icon {
  position: relative;
  padding: 1rem;
  align-items: center;
  color: var(--mainPink);
}
.img-container:hover .store-item-icon {
  transform: translate(0, 0);
}
.store-item-icon:hover {
  color: var(--mainBlack);
}

@media (min-width: 400px) {
  .store-items {
    grid-template-columns: repeat(3, 0.5fr);
    
  }
  .filter-btn
   {
    width: 10%;
  }
}

/* Product Details */
.product-details {
  width: 100%;
}
.product-details {
  margin-top: 2rem;
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 500px;
}
.product-details img {
  width: auto;
  height: 350px;
  margin: 0 auto;
}

.product-details-description {
  flex: 1 2;
  width: 75%;
  margin: 1rem 0;
  color: var(--mainBlack);
  font-size: 1.5rem;
}

.close-modal {
  position: absolute;
  right: 2rem;
  top: 4rem;
  cursor: pointer;
  background-color: var(--mainPink);
  color: var(--mainWhite);
  margin: 0;
}

.pointCursor {
  cursor: pointer;
}

